.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 50px 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.container--parameters {
  max-width: 1024px;
  margin: 0 auto;
}
