.nav {
  background-color: #fff;

  &__list {
    display: grid;
    grid-template-columns: repeat(8, auto);
    padding: 0;
    list-style: none;
  }
  
  &__item {
    margin-left: 20px;
  }
  
  &__link {
    display: grid;
    color: $default-link-color;
    height: 60px;
    align-items: center;
    text-decoration: none;
    position: relative;
    white-space: nowrap;
    text-transform: uppercase;
    @include font-normal();
    transition: color 1s;

    &:hover {
      color: $highlight-color;
    }
  }
}

.nav__first-item {
  margin: 0;
}

.is-active {
  color: $highlight-color;

  &:after {
    content: "";
    background-color: $highlight-color;
    height: 4px;
    border-radius: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
